ion-content {
  --overflow: hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeInWarn {
  animation-name: fadeIn;
  animation-duration: 1.5s;
  padding-left: 20px;
  padding-top: 3px;
}

.error_warn {
  color: red;
  --border-style: none;
}
