<ion-header>
    <ion-toolbar class="ion-text-center">
        <ion-title>Book an event</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="dismissModal()">
                <ion-icon name="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-list class="no-bg">
        <form [formGroup]="form" id="form" (keyup.enter)="saveForm()">
            <ion-item [ngClass]="{error_warn : hasFormError('title')}">
                <ion-label position="floating">
                    Title
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input type="text" formControlName="title"></ion-input>
            </ion-item>
            <ion-note *ngIf="hasFormError('title')" class="fadeInWarn" color="danger">
                Please fill out this field
            </ion-note>
            <ion-item [ngClass]="{error_warn : hasFormError('startDate')}">
                <ion-label position="floating">
                    Start Date (max. 7 days in advance)
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-datetime [placeholder]="now" formControlName="startDate"></ion-datetime>
            </ion-item>
            <ion-note *ngIf="hasFormError('startDate')" class="fadeInWarn" color="danger">
                Please fill out this field
            </ion-note>
            <ion-item [ngClass]="{error_warn : hasFormError('duration')}">
                <ion-label position="floating">
                    Duration (max 12h)
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-datetime display-format="h:mm" picker-format="h:mm" formControlName="duration"
                              [placeholder]="duration"></ion-datetime>
            </ion-item>
            <ion-note *ngIf="hasFormError('duration')" class="fadeInWarn" color="danger">
                Please fill out this field
            </ion-note>
            <ion-item>
                <ion-label position="floating">Mood</ion-label>
                <ion-select value="notifications" interface="action-sheet">
                    <ion-select-option value="mute_week">Mute for a week</ion-select-option>
                    <ion-select-option value="mute_year">Mute for a year</ion-select-option>
                </ion-select>
            </ion-item>
        </form>
    </ion-list>
</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button type="submit" (click)="saveForm()">
        <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
</ion-fab>
