.card-footer-btn {
  float: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.animate-flicker {
  animation: fadeIn 1s infinite alternate;
  vertical-align: middle;
}

video {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  vertical-align: middle;
}

.card-content {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.bar {
  z-index: 2;
  width: 100%;
  text-align: center;
  transform: translate(0%, -100%);
  background-image: linear-gradient(to bottom, rgba(255, 0, 0, 0), rgb(0, 0, 0));
}

.sticky-video {
  position: sticky;
  bottom: 0;
  width: 250px;

  video {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .7);
  }
}

.sticky-controls {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .7);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  position: relative;
  top: 0;
  width: 250px;
  z-index: 2;
  widows: 100;
}
