<app-header [activeSite]="'immerse'"></app-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="didScroll()">
    <div class="content ion-padding">
        <ion-header collapse="condense">
            <ion-toolbar>
                <ion-title size="large">Immerse</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-card>
            <div class="ion-padding">
                <img src="assets/imgs/cocotar.png"/>
            </div>
            <ion-card-header>
                <ion-card-subtitle>
                    <ion-icon color="danger" class="animate-flicker" name="radio-button-on-outline"></ion-icon>
                    {{peopleWatching}} viewers right now | {{feed.length}} CoCoTars Streaming
                </ion-card-subtitle>
                <ion-card-title>Experience Code & Context - Interactive Video Streams</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>Digitally immerse into Code & Context like never before. Join a video stream from the eyes of a
                    CoCoTar.
                    A statue with integrated 360° and 3D-camera.</p><br>
                <p>Easily connect with others by using the chat and drawing board.</p>
            </ion-card-content>
            <ion-row class="ion-padding">
                <ion-col>
                    <ion-button color="secondary" (click)="openChat()" class="card-footer-btn" fill="outline">
                        <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>
                        Chat
                    </ion-button>
                    <ion-button color="secondary" (click)="openCanvas()" class="card-footer-btn" fill="outline">
                        <ion-icon slot="start" name="brush-outline"></ion-icon>
                        Drawing board
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card>

        <ion-card *ngFor="let item of feed">
            <ion-card-header>
                <ion-card-subtitle>
                    <ion-icon color="danger" class="animate-flicker" name="radio-button-on-outline"></ion-icon>
                    {{item.viewers}} viewers right now
                </ion-card-subtitle>
                <ion-card-title>{{item.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <video #player playsinline preload="auto" loop>
                    <source [src]="item.src" type="video/mp4">
                </video>
                <div class="bar">
                    <ion-button (click)="openFullscreen(player)" color="secondary" fill="clear">
                        <ion-icon slot="icon-only" name="easel-outline"></ion-icon>
                    </ion-button>
                    <ion-button (click)="playOnSide(player)" color="secondary" fill="clear">
                        <ion-icon slot="icon-only" name="open-outline"></ion-icon>
                    </ion-button>
                </div>
            </ion-card-content>
        </ion-card>

        <ion-card>
            <div class="ion-padding">
                <img src="assets/imgs/CoCo2020.jpg" width="100%"/>
            </div>
            <ion-card-header>
                <ion-card-subtitle>
                    Want to enjoy more coco?
                </ion-card-subtitle>
                <ion-card-title>Chat & Draw with others</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Digitally immerse into Code & Context like never before.
            </ion-card-content>
            <ion-row class="ion-padding">
                <ion-col>
                    <ion-button color="secondary" (click)="openChat()" class="card-footer-btn" fill="outline">
                        <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>
                        Chat
                    </ion-button>
                    <ion-button color="secondary" (click)="openCanvas()" class="card-footer-btn" fill="outline">
                        <ion-icon slot="start" name="brush-outline"></ion-icon>
                        Drawing board
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-card>
    </div>

    <div class="sticky-video" #stickyplayer [hidden]="!stickyVideo">
        <div class="sticky-controls" *ngIf="stickyVideo">
            <ion-row class="ion-no-padding">
                <ion-col size="4">
                    <ion-button size="small" (click)="closeSticky()" color="secondary" fill="clear">
                        <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col size="4">
                    <ion-button size="small" (click)="playOrPauseSticky()" color="secondary" fill="clear">
                        <ion-icon slot="icon-only" [name]="stickyPlaying ? 'pause-outline' : 'play-outline'"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col size="4">
                    <ion-button size="small" (click)="openFullscreen(stickyVideo)" color="secondary" fill="clear">
                        <ion-icon slot="icon-only" name="easel-outline"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </div>
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="people"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button (click)="openChat()">
                <ion-icon name="chatbubble-ellipses"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="openCanvas()">
                <ion-icon name="brush"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
