* {
  text-transform: uppercase;
}

ion-tab-button {
  ion-icon {
    height: 25px
  }

  ion-label {
    font-size: 15px;
    font-weight: bold;
  }

  --color: var(--ion-color-medium);
  --color-selected: var(--ion-color-primary);

  &::before {
    background-color: transparent;
    display: block;
    content: "";
    margin: 0 auto;
    width: 20px;
    height: 2px;
  }

  &.tab-selected::before {
    background-color: var(--ion-color-primary);
  }
}
