<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/imgs/header-icon.png" height="25" class="title-icon"/>
      cocotar - {{activeSite}}
    </ion-title>
  </ion-toolbar>
  <ion-tab-bar *ngIf="!isMobile" translucent="true" class="no-border">
    <ion-tab-button tab="immerse" layout="icon-start" [selected]="activeSite === 'immerse'">
      <ion-icon name="eye"></ion-icon>
      <ion-label>immerse</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="location" layout="icon-start" [selected]="activeSite === 'location'">
      <ion-icon name="compass"></ion-icon>
      <ion-label>location</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-header>
