<ion-tabs>

    <ion-tab-bar *ngIf="isMobile" slot="bottom" translucent="true">

        <ion-tab-button tab="immerse">
            <ion-icon name="eye-outline"></ion-icon>
            <ion-label>Immerse</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="location">
            <ion-icon name="compass-outline"></ion-icon>
            <ion-label>Location</ion-label>
        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>
