<app-header [activeSite]="'location'"></app-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Location</ion-title>
        </ion-toolbar>
    </ion-header>
    <div class="content">

        <app-room-list *ngIf="roomList"></app-room-list>

        <app-webgl-renderer *ngIf="!roomList && !newLocation" [glbFile]="'assets/3d-renders/schanze28.glb'"></app-webgl-renderer>
        <app-webgl-renderer *ngIf="!roomList && newLocation" [glbFile]="'assets/3d-renders/schanze22.glb'"></app-webgl-renderer>

    </div>
    <ion-fab horizontal="end" vertical="start" slot="fixed">
        <ion-fab-button color="secondary" size="small">
            <ion-icon name="caret-back"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
            <ion-fab-button *ngIf="!roomList" color="light" (click)="toggleLocation()">
                <ion-icon name="swap-horizontal-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button *ngIf="!roomList" color="light" (click)="toggleRoomList()">
                <ion-icon name="list-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button *ngIf="roomList" color="light" (click)="toggleRoomList()">
                <ion-icon name="layers-outline"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
            <ion-icon name="people"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button (click)="openChat()">
                <ion-icon name="chatbubble-ellipses"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="openCanvas()">
                <ion-icon name="brush"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
