<ion-card>
    <ion-slides [options]="sliderOpts" zoom>
        <ion-slide>
            <div class="swiper-zoom-container ion-padding">
                <img src="assets/imgs/Schanzenstr28.png"/>
            </div>
        </ion-slide>
    </ion-slides>
    <ion-card-header>
        <ion-card-subtitle>Pinch to Zoom</ion-card-subtitle>
        <ion-card-title>Schanzenstraße 28</ion-card-title>
    </ion-card-header>
    <ion-list>
        <ion-item *ngFor="let room of roomLists[0]; let i = index" button (click)="newBooking(room)">
            <ion-label>
                <h2>Room {{room.roomNum}}</h2>
                <h3 *ngIf="room.bookings.length !== 0">{{room}} Booking</h3>
                <p>Click to book now</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-card>
<ion-card>
    <ion-slides [options]="sliderOpts" zoom>
        <ion-slide>
            <div class="swiper-zoom-container ion-padding">
                <img src="assets/imgs/Schanzenstr22.png"/>
            </div>
        </ion-slide>
    </ion-slides>
    <ion-card-header>
        <ion-card-subtitle>Pinch to Zoom</ion-card-subtitle>
        <ion-card-title>Schanzenstraße 22</ion-card-title>
    </ion-card-header>
    <ion-list>
        <ion-item *ngFor="let room of roomLists[1]; let i = index" button (click)="newBooking(room)">
            <ion-label>
                <h2>Room {{room.roomNum}}</h2>
                <h3 *ngIf="room.bookings.length !== 0">{{room}} Booking</h3>
                <p>Click to book now</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-card>
